.title {
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem;
}

.formulaire {
  background-color: #ca2061;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 1em;
  margin: 0.5em;
}

.recherche {
  grid-column: 1 / 5;
}

.lucide.lucide-search {
  position: relative;
  left: 1em;
  bottom: -2.1em;
}

.catégories {
  grid-column: 1 / 2;
}

.salaires {
  grid-column: 2 / 3;
}

.départements {
  grid-column: 3 / 5;
}

.search_label {
  font-size: 1em;
}

.search_input {
  border-radius: 5em;
  width: 100%;
  padding: 0.5em 0.5em 0.5em 2em;
  margin: 0.5em;
}

p {
  color: white;
  padding: 0.5em;
  font-size: 1em;
}

select {
  font-size: 0.7em;
  padding: 0.5em 0;
  width: 100%;
}

select option {
  font-size: 0.7em;
}

.submit {
  grid-column: 1 / 5;
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
}

.button_filter,
.reset {
  background-color: #f1eff0;
  color: #0b0b0b;
  font-size: 1em;
  border: none;
  border-radius: 5em;
  width: 8em;
  margin: 0.5em;
  padding: 0.5em;
}

.button_filter:hover,
.reset:hover {
  background-color: #ff8639;
}

.button_filter:active,
.reset:active {
  background-color: #de377c;
  box-shadow: 0 2px #70696c;
  transform: translateY(4px);
}

.button_filter:active,
.reset:active {
  background-color: #de377c;
  box-shadow: 0 2px #f3f0f1;
  transform: translateY(4px);
}
.offres-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}
.offres {
  background-color: white;
  color: #000;
  padding: 1.5rem;
  border-radius: 1em;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s
    ease;
  box-shadow: 0 2px 6px #ff8639;
}

.offres:hover {
  background-color: #ff9f66;
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

@media (min-width: 640px) {
  .formulaire {
    background-color: #ca2061;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.5em;
    align-items: stretch;
    padding: 1em;
  }
  .recherche {
    grid-column: 1 / 5;
    grid-row: 1;
  }

  .lucide.lucide-search {
    position: relative;
    left: 2em;
    bottom: -0.2em;
  }

  .catégories {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .salaires {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .départements {
    grid-column: 3 / 5;
    grid-row: 2;
  }

  p,
  .search_label {
    color: white;
    font-size: 1em;
  }
  .search_input {
    border-radius: 5em;
    width: 80%;
    padding: 0.5em;
    padding: 0.5em 0.5em 0.5em 2em;
    font-size: 0.9em;
  }

  select {
    border-radius: 5em;
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    font-size: 0.85em;
  }

  select option {
    font-size: 0.7em;
  }
  .submit {
    grid-column: 5 / 6;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-top: 2em;
  }
}

@media (min-width: 1024px) {
  .formulaire {
    background-color: #ca2061;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1.5em;
    align-items: center;
    padding: 0.5em 0.4em;
    height: 130px;
  }

  .recherche {
    grid-column: 1 / 2;
    grid-row: 1;
    position: relative;
    bottom: 0.6em;
  }

  .lucide.lucide-search {
    position: relative;
    left: 1em;
    bottom: -2.2em;
  }
  .catégories {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .salaires {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  .départements {
    grid-column: 4 / 5;
    grid-row: 1;
  }
  .search_label {
    color: white;
    font-size: 1em;
    position: relative;
    bottom: -1.3em;
  }
  p {
    color: white;
    font-size: 1em;
  }

  .search_input,
  select {
    border-radius: 5em;
    width: 100%;
    padding: 0.5em;
    padding: 0.5em 0.5em 0.5em 2em;
    font-size: 0.9em;
  }

  select option {
    font-size: 0.7em;
  }
  .submit {
    grid-column: 5 / 6;
    grid-row: 1;
  }

  .button_filter,
  .reset {
    font-size: 1.2em;
    padding: 0.5em 0.5em;
  }
}
